.container {
    display: column;
    margin-top: 90px;
    flex-wrap: wrap;
}

@media ( max-width : 640px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
}
