.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  padding: 7rem 0; 
  max-width: 96rem; 
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  .container {
    margin-left: 40px; 
  }
}

.header {
  color: #334155; 
  font-weight: bold;
  font-size: 1.875rem; 
}

@media (min-width: 1024px) {
  .header {
    font-size: 3.75rem; 
  }
}

.highlight {
  color: #2980b9; 
}

.description {
  color: #9ca3af; 
  font-size: 0.75rem;
}

@media (min-width: 640px) {
  .description {
    font-size: 0.875rem; 
  }
}

.link {
  color: #1e40af; 
  font-weight: bold;
  font-size: 0.75rem; 
  text-decoration: none; 
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .link {
    font-size: 0.875rem; 
  }
}
